<article class="chirp">
	<div class="titlebar">
		<a href="#/feed/{{author}}" class="chirp-author">{{author}}</a>
		<span class="chirp-time">
			{{#if isAuthor}}
				<a href="#/delete/{{userId}}">delete</a>
			{{/if}}
			{{date}}
		</span>
	</div>
	<p>{{text}}</p>
</article>